<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <span style= "margin-left: 8px;">Tagit Tool</span>
    </mat-toolbar-row>
  
    <!-- <mat-toolbar-row>
      <span>Second Line</span>
      <span class="example-spacer"></span>
    </mat-toolbar-row> -->
  
    <!-- <mat-toolbar-row>
      <span>Third Line</span>
      <span class="example-spacer"></span>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
    </mat-toolbar-row> -->
</mat-toolbar>
<mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item>Tagit Tool Implementation</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <app-tagit-tool></app-tagit-tool>
    </mat-sidenav-content>
  </mat-sidenav-container>

